.app-img {
  width: 30%;
  height: 300px;
  margin: 0px 5px;
  border-radius: 5px;
  transition-duration: .3s
}

.app-img:hover {
  cursor: pointer;
  transform: scale(1.02);
  transform: rotate(2deg);
  transition: all ease-in-out .3s;
}

.img-container {
  width: 100%;
  display: flex;
}

.app-img-no-hover {
  width: 30%;
  height: 300px;
  margin: 0px 5px;
  border-radius: 5px
}

 .creature-bio {
  width: 75%;
  margin: 20px auto;
}
